.a{
    text-align: center;
    color:yellow;
}
.b{
    background-color: cornflowerblue;
    font-size: 30px;
}
.c{
    background-color:blanchedalmond;
    font-size: 20px;
}
.d{
    background-color: white;
    font-size: 20px;
}
body{
    background-image: url("image.jpg");
    background-size: cover;
}